body{background: url(../images/1420grid_cesco_shopping.png) no-repeat center top; opacity: 0.6;}

#wrap{width: 1420px; height: 3000px; margin: 0 auto; background: #dddddd;}

section{width: 1420px; height: 3679px; margin: 0 auto;background: #ffffff;}
#sub_nav_wrap{float: left; width: 1420px; height: 152px; background: #eeeeee;}
.sub_nav_banner{float: left; width: 225px; height: 118px; background: #dddddd;}
.sub_nav{float: right; width: 1044px; height: 118px; background: #dddddd;}
.sub_selectform{float: left; width: 1420px; height: 35px; background: #bbbbbb;}

#contents_wrap{float: left; width: 1420px; height: 3527px; background: #eeeeee;}
.product_banner{float: left; width: 1420px; height: 635px; margin-bottom: 90px; background: #dddddd;}
.product_best{float: left; width: 1420px; height: 580px; background: #cccccc;}
.product_ad_banner{float: left; width: 1420px; height: 265px; background: #bbbbbb;}
.product_list{float: left; width: 1420px; height: 2047px; background: #00a3d9;}