*{margin: 0; padding: 0; outline:none;}
html{overflow-y: scroll;}
body{font-family: 'Noto Sans KR', 'Malgun Gothic', 'Dotum' sans-serif;}
ul, li{list-style: none; }
.fl{float: left;}
.fr{float: right;}
.cf:after{clear: both; float: left; content:"";}
.cb{clear: both;}
/* .h_shadow{box-shadow: 0 1px 4px 0 rgba(0,0,0, .1);}
.f_shadow{box-shadow: 0 -1px 4px 0 rgba(0,0,0, .1);} */

.ui-header .ui-title, .ui-footer .ui-title{width: 200px; margin: 12px auto;}
.ui-page-header-fullscreen > .ui-content, .ui-page-footer-fullscreen > .ui-content{padding: 100px 10px 80px 10px; margin: 0px auto;}
/* 공통헤더 */
.fixed_header{background-color: #ffffff; height: 70px;}
.fixed_header .r_back_btn.ui-btn{border: none; text-shadow: none; background-color: #ffffff;}
.fixed_header > a img{width:30px; margin:20px 5px 0 0; float:left;}
.fixed_header > a img.set{width:30px; margin:13px 5px 0 0; float:left;}
.fixed_header > a{margin-top:8px;}
.fixed_header{padding-top:10px;}
.footer_wrap .ui-icon-home:after{background-color: rgba(0,0,0,0); border-radius: 0;}
.footer_wrap .ui-icon-camera:after{background-color: rgba(0,0,0,0); border-radius: 0;}
.footer_wrap .ui-icon-shop:after{background-color: rgba(0,0,0,0); border-radius: 0;}
.footer_wrap .ui-icon-sns:after{background-color: rgba(0,0,0,0); border-radius: 0;}
.footer_wrap .ui-icon-map:after{background-color: rgba(0,0,0,0); border-radius: 0;}
.footer_wrap .ui-icon-camera input#camera{display: none;}
.footer_wrap .ui-body-inherit, html .ui-bar-a .ui-body-inherit label#camera{border: none; font-size: 12.5px; font-weight: 700;}
.footer_wrap li.camera a label {font-size: 12.5px; font-weight: 700; cursor: pointer;}
.ui-header .ui-navbar .ui-btn, .ui-footer .ui-navbar .ui-btn{height: 18px;}

/* id="login_page" */
#login_page .ui-shadow{box-shadow: none;}
#login_page .ui-header, .ui-footer{border: 0;}
#login_page{background-color: #229c78;}
#lofile:///C:/project/sansoom/www/index.html#main_pagegin_page .ui-shadow-inset, .ui-shadow{box-shadow: none;}
#login_page #header{background-color: #229c78;}
#login_page #header h1{margin: 50px auto;}

#login_page .ui-input-text, .ui-input-search{border-radius: 50px;}
#login_page #id_log, #login_page #pw_log{box-shadow: 2px 2px 3px #666666; height: 40px; }
#auto_l{display:none;}
#login_page .ui-checkbox .ui-btn, .ui-radio .ui-btn .auto_l{float: left; width: 90px; margin-bottom: 8px;}
#login_page .f_check label{font-size:13px; border: none; background: #229c78; color: #ffffff;}
#login_page .find{float: right; margin: 16px 5px; font-size: 13px; color: #ffffff;}
#login_page .find a{text-decoration: none; color: #ffffff;}
#login_page #login{background-color: #ffffff; color: #229c78; border-radius: 50px;}
#login_page #join{background-color: #229c78; border:1px solid #ffffff; color:  #ffffff; border-radius: 50px;}
#login_page .ui-shadow-inset-focus, .ui-shadow-focus{box-shadow: none;}
/* id="login_page" */


/* id="join_page" */
#join_page .ui-shadow{box-shadow:none;}
#join_page{background:#ffffff;}
#join_page .ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit{background-color: #ffffff;}
/* #join_page .join_header{background-color: #ffffff;}
#join_page .r_back_btn.ui-btn{border: none; text-shadow: none; background-color: #ffffff;}
#join_page .join_header > a img{width:30px; margin:2.5px 5px 0 0; float:left;}
#join_page .join_header > a{margin-top:8px;}
#join_page .join_header{padding-top:10px;}
#join_page .join_header h1{margin: 0 auto;} */
#join_page .ui-checkbox, .ui-radio{margin:0;}
#join_page .ui-checkbox input, .ui-radio input {
	position: absolute;
	left: .466em;
	top: 52%;
	width: 22px;
	height: 22px;
	margin: -11px 0 0 0;
	outline: 0 !important;
	z-index: 3;
	left: 10px;
}
#join_page .ui-radio input{display: none;}
#join_page  .ui-btn.ui-checkbox-off::after {
	/* background-color: #666; */
	background-color: rgba(0,0,0,.3);
	opacity: 0;
	display: none;
}
#join_page .ui-page-theme-a .ui-checkbox-on::after{display:none}

html #join_page .ui-btn.ui-checkbox-on.ui-checkbox-on::after{background-image:none; background:transparent; display:none;}

#join_page legend > h3{margin:0 0 .7em 0;}
#join_page .profile_join h4{margin:.7em 0; padding-bottom: 5px; color: #229c78; border-bottom: 1px solid #229c78;}
#join_page .ui-field-contain .ui-controlgroup-controls{width:100%; margin: 0 auto;}
#join_page .ui-field-contain{border:0; margin:0; padding:.3em 0;}
#join_page .add_join .ui-btn{background-color: #229c78; color: #ffffff; text-shadow: none;}
#join_page .ui-shadow-inset, .ui-shadow{box-shadow:none;}
#join_page .ui-input-text, .ui-input-search{margin:2px 0; border-radius: 50px; height: 35px;}
#join_page #input1 .ui-input-text , .ui-input-search{width: 193px; margin-right: 12px; float: left;}
#join_page #input8 .ui-input-text , .ui-input-search{width: 193px; margin-right: 12px; float: left;}
#join_page #input9 .ui-input-text , .ui-input-search{margin-top: -5px; width: 95%;}
#join_page #input6{float: left; margin-right: 60px;}
#join_page .ui-field-contain > label ~ .ui-btn-inline{background-color: #229c78; color: #ffffff; border-radius: 50px; float: left;}
#join_page .ui-field-contain > label ~ .ui-btn-inline a{display: block; width: 80px; font-size: 14px;}
#join_page .ui-field-contain > label{font-weight: bold; line-height: 1.6; margin-right: 5px;}
#join_page #join_menual span.ui-li-count{background: #ffffff; color: #999999; box-shadow: 2px 2px 3px #eeeeee; border: none; padding: 3px 5px; border-radius: 20px; font-size: 12px;}

/* id="main_page" */
#main_page h2{margin-bottom: 20px; margin-top: 5px; font-size: 40px; line-height: 1;}
#main_page h2 span{font-size: 25px;}
#main_page .m_climbing{width: 100%; height: 200px; background: url(../img/backpack.jpg) no-repeat center top; background-size: 100%; border-radius: 20px; margin-bottom: 10px;}
#main_page .m_climbing a{display: block; color: #ffffff; text-decoration: none; padding: 10px;}

#main_page .m_stamps, #main_page .b_rank{width:43%; float: left; height: 100px; border-radius: 20px; margin-bottom: 10px; margin-right: 10px;}
#main_page .m_stamps{background: url(../img/13.jpg) no-repeat center top; background-size: 100% 100%;}
#main_page .m_stamps a, #main_page .b_rank a{display: block; color: #ffffff; text-decoration: none; padding: 10px;}
#main_page .b_rank{background: url(../img/15.jpg) no-repeat center top; background-size: 100% 100%;}

#main_page .e_call{width: 95%; height: 100px; background: #a43130; border-radius: 20px; margin-bottom: 10px; margin-right: 5px; margin-right: 10px; float: left;}
#main_page .e_call a{display: block; color: #ffffff; text-decoration: none; padding: 10px;}

#main_page .s_climbing{width: 50%; height: 210px; background: url(../img/20.jpg) no-repeat center top; background-size: 100% 100%; border-radius: 20px; margin-bottom: 10px;}
#main_page .s_climbing a{display: block; color: #ffffff; text-decoration: none; padding: 10px;}

#main_page .m_map{width: 100%; height: 200px; background: url(../img/20.jpg) no-repeat center top; background-size: 100%; border-radius: 20px; margin-bottom: 10px;}
#main_page .m_map a{display: block; color: #ffffff; text-decoration: none; padding: 10px;}
#main_page .m_map img{width: 100%;}
#main_page .m_shop{width: 29%; height: 100px; background: url(../img/23.jpg) no-repeat center center; background-size: 100%; border-radius: 20px; margin-right: 10px;}
#main_page .m_shop a{display: block; color: #ffffff; text-decoration: none; padding: 10px;}
#main_page .m_sns{width: 68%; height: 100px; background: url(../img/17.jpg) no-repeat center center; background-size: 100%; border-radius: 20px; float: right;}
#main_page .m_sns a{display: block; color: #ffffff; text-decoration: none; padding: 10px;}

/* id="my_climbing" */
#my_climbing .ui-content h2{margin-bottom: 15px; color: #333333;}
#my_climbing .ui-content a{text-decoration: none; color: #ffffff;}
#my_climbing .my_record{background: #229c78; border-radius: 20px; height: 200px; padding: 20px; margin-bottom: 10px; box-shadow: 5px 5px 5px #888888;}
#my_climbing .my_record .my_info{padding: 15px; position: relative;}
#my_climbing .my_record .my_pic{width: 70px; height: 70px; margin-right: 20px;}
#my_climbing .my_record .my_pic img{width: 70px; height: 70px; border-radius: 50px;}
#my_climbing .my_record .my_name{height: 70px; line-height: 70px;}
#my_climbing .my_record .my_name h3{font-size: 18px; font-weight: bold; text-shadow: none; color: #ffffff;}
#my_climbing .my_record h2{color: #ffffff; font-weight: normal;}
#my_climbing .my_record .my_f{width: 80px; height: 30px; border: 1px solid #ffffff; background: #229c78; color: #ffffff; font-size: 12px; border-radius: 10px; text-align: center; line-height: 30px; margin: 18px 0 0 20px;}
#my_climbing .my_record .my_f a{font-weight: normal;}
#my_climbing .my_record .my_icon img{width: 30px; height: 30px; position: absolute; top: 0px; right: 10px;}
#my_climbing .my_record .p_record{width: 90%; margin: 0 auto; margin-top: 20px;}
#my_climbing .my_record .p_record ul{margin-top: 90px; padding: 7px;}
#my_climbing .my_record .p_record ul li{float: left; width: 25%;}
#my_climbing .my_record .p_record ul li a{display: block; background: #229c78; border: none; font-weight: normal; font-size: 20px; text-align: center;}
#my_climbing .my_record .p_record ul li a span{font-size: 12px; font-weight: normal;} 
#my_climbing .my_menu{margin-top: 20px;}
#my_climbing .my_menu ul li{height: 50px; border-bottom: 1px solid #e2e2e2; padding-left: 40px; line-height: 50px;}
#my_climbing .my_menu ul li a{display: block; height: 50px;  color: #333333; font-weight: bold; font-size: 14px;}
#my_climbing .my_menu ul li a img{display: block; width: 10px; float: right; margin-top: 20px; margin-right: 10px;}

/* id="stamp_page" */
#stamp_page .ui-content h2{color: #333333; width: 90%; margin: 0 auto; margin-bottom: 10px; }
#stamp_page .stamp_wrap{width: 95%; background: #229c78; border-radius: 20px; margin: 0px auto; box-shadow: 3px 3px 5px #666666; padding: 20px 0 30px 0;}
#stamp_page .stamp_wrap .ui-grid-a {margin: 20px;}
#stamp_page .stamp_wrap .ui-grid-a img{display: block; margin: 0 auto;}
#stamp_page .stamp_wrap .ui-grid-a a{display: block; text-shadow: none; text-decoration: none;}
#stamp_page .stamp_wrap .ui-grid-a p{color: #333333; text-align: center; margin-top: 10px;}

/* id="stamp_sub_page1" */
#stamp_sub_page1 .ui-content .climbing{position: relative; top: 10px; width: 95%; height: 200px; margin: 0 auto; box-shadow: 3px 3px 5px #666666; border-radius: 20px;}
#stamp_sub_page1 .ui-content .climbing img.mountain{position: absolute; top: 20px; left: 50%; margin-left: -145px;}
#stamp_sub_page1 .ui-content .climbing img.success{position: absolute; top: 10px; left: 50%; margin-left: -118px;}
#stamp_sub_page1 .climbing p.c_name{position: absolute; top: 140px; left: 50%; z-index: 10; margin-left: -43px; font-weight: bold; font-size: 1.8em;}
#stamp_sub_page1 .ui-content .c_date{width: 95%; margin: 0px auto;margin-top: 40px; border-bottom: 1px solid #eeeeee;}
#stamp_sub_page1 .ui-content .c_date h3{text-align: center; font-size: 1.5em; margin-bottom: 10px;}
#stamp_sub_page1 .ui-content .c_date p{font-weight: bold; font-size: 1.3em; color: #229c78; text-align: center; margin-bottom: 20px;}
#stamp_sub_page1 .ui-content .c_person{width: 95%; margin: 0 auto; margin-top: 20px;  border-bottom: 1px solid #eeeeee;}
#stamp_sub_page1 .ui-content .c_person h3{width: 95%; font-size: 1.5em; margin-bottom: 10px; margin-left: 10px;}
#stamp_sub_page1 .ui-content .c_person p{width: 95%; margin: 20px 0 30px 0;}
#stamp_sub_page1 .ui-content .c_person a{text-decoration: none; color: #333333; padding: 10px 15px; margin-right: 10px; box-shadow: 3px 3px 3px #999999; border-radius: 20px;}
#stamp_sub_page1 .ui-content .c_person a:hover{background: #229c78; color: #ffffff;}
#stamp_sub_page1 .ui-content .c_photo{width: 95%; margin: 10px auto;}
#stamp_sub_page1 .ui-content .c_photo h3{width: 95%; font-size: 1.5em; margin-bottom: 10px; margin-left: 10px;}
#stamp_sub_page1 .ui-content .c_photo h3 span label{font-size: 1.2em; float: right; margin-right: 10px; border: none;}
#stamp_sub_page1 .ui-content .c_photo span .ui-input-text, .ui-input-search{border: none;}
#stamp_sub_page1 .ui-content .c_photo h3 span input{display: none;}
#stamp_sub_page1 .ui-content .c_photo .ui-grid-b{margin-top: 30px; margin-bottom: 10px;}
#stamp_sub_page1 .ui-content .c_photo .ui-grid-b img{border-radius: 5px;}



/* id="brank_page" */
#brank_page .ui-content h2{margin-bottom: 10px; color: #333333;}
#brank_page .ui-navbar ul.tab li.active a{background: #229c78; color: #ffffff; box-shadow: none;}
#brank_page .rank ul{width: 95%; height: 80px; background: #d0d0d0; margin: 20px auto; border-radius: 30px;}
#brank_page .rank ul:first-child{background-color: #229c78;}
#brank_page .rank ul li{float: left; color: #ffffff;}
#brank_page .rank ul li.number{width: 10%; line-height: 80px; text-align: center;}
#brank_page .rank ul li.img{text-align: center; width: 20%;}
#brank_page .rank ul li.img img{border-radius: 50px; margin-top: 14px;}
#brank_page .rank ul li.name{width: 40%; height: 40px; margin-top: 20px;}
#brank_page .rank ul li.name span.sub{font-size: 0.8em;}
#brank_page .rank ul li.time{width: 30%; line-height: 80px; text-align: center;}


/* id="e_call" */
#e_call_page{background-color: #a43130;}
#e_call_page h2{color: #ffffff; font-size: 100px; font-weight: bold; margin: 0px auto; margin-top: 50px; text-shadow: none; text-align: center;}
#e_call_page p{color: #ffffff; font-weight: bold; margin: 20px auto; text-align: center; text-shadow: none;}
#e_call_page button{width: 60%; margin: 0 auto; background-color: #ffffff; border-radius: 20px; margin-bottom: 15px;}
#e_call_page button a{display: block; font-size: 50px; color: #a43130; text-decoration: none;}



/* id="shopping" */
#shopping .banners{position: relative; margin-top: 10px;}
#shopping .banners p{text-align: center; color: #ffffff; font-size: 16px; margin-bottom: 3px; font-weight: normal; letter-spacing: -1px;}
#shopping .banners img{position: relative; z-index: 2;}
#shopping .banners .ptext{position: absolute; top: 50%; left: 50%; z-index: 5; transform: translate(-50%, -50%);}
#shopping .banners .ptext .btext{font-size: 20px; margin-top: 7px;}
#shopping .banners .ptext .stext{margin-top: 10px;}
#shopping .banners .ptext .stext a{text-decoration: none; color: white; font-weight: normal; font-size: 12px;}

#shopping .goods{width: 379px; margin: 0 auto;}
#shopping .goods ul li{width: 180px; height: 220px; margin: 30px 15px 60px 0; text-align: center;}
#shopping .goods ul .mr{margin-right: 0;}
#shopping .goods ul li img{width: 180px; height: 200px; }
#shopping .goods ul li a{text-decoration: none; font-size: 12px; color: #333; font-weight: normal;}
#shopping .goods ul li a .goods_name{font-size: 18px; font-weight: bold;}
#shopping .goods ul li a .goods_sale{text-decoration: line-through;}
#shopping .goods ul li a .goods_price{font-size: 16px; font-weight: bold; color: #249a77;}
#shopping .goods ul li a .goods_keyword{display: block; font-size: 13px; margin: 15px 0 20px 0;}





/* id="sns_page" */
#sns_page h2{margin: 10px 30px; color: #333333;}
#sns_page #touchSlider h3{margin-left: 15px; margin-top: 10px; color: #333333;}
#sns_page #touchSlider{width:700px; height:250px; margin:0 auto; position:relative; left: -10px; overflow:hidden; background: #ffffff;}
#sns_page #touchSlider ul {width:99999px; height:200px; position:absolute; top: 50px; left:20px; overflow: hidden; background: #ffffff; }
#sns_page #touchSlider ul li { float:left; width:200px; height:250px; font-size:14px; background: #ffffff;}
#sns_page #touchSlider ul li a{display: block; text-decoration: none;}
#sns_page #touchSlider ul li a img{border-radius: 10px;}
#sns_page p.title{color: #229c78; font-size: 1.2em; margin-bottom: 3px;}
#sns_page p.s_title{color: #333333;}

#sns_page .ui-tabs{width: 95%; margin: 0px auto; margin-top: 15px;}
#sns_page .ui-controlgroup-horizontal .ui-controlgroup-controls{display: block; width: 400px; margin: 0 auto;}
#sns_page .ui-controlgroup-controls ul li{float: left; background: #ffffff; border-radius: 20px; width: 130px; text-align: center; margin-right: 5px; margin-bottom: 5px; padding: 5px 0; box-shadow: 2px 2px 5px #e4e4e4;}
#sns_page .ui-controlgroup-controls li a{text-decoration: none; color: #333333;}
#sns_page .ui-controlgroup-controls li.active a{color: #229c78;}

#sns_page .ui-tabs .tab_con ul{width: 95%; margin: 0 auto; margin-top: 10px; background: #ffffff; border-radius: 20px;}
#sns_page .ui-tabs .tab_con ul li{border-bottom: 1px solid #eeeeee;}
#sns_page .ui-tabs .tab_con ul li a{display: block; text-decoration: none; color: #333333; padding: 10px 0;}

#sns_page #notice{width: 100%; margin: 0 auto; margin-top: 15px;}
#sns_page #notice h3{margin-left: 15px; margin-top: 10px; color: #333333; padding: 10px 0;}
#sns_page #notice ul{width: 95%; margin: 0 auto; margin-top: 10px; background: #ffffff; border-radius: 20px;}
#sns_page #notice ul li{border-bottom: 1px solid #eeeeee;}
#sns_page #notice ul li a{display: block; text-decoration: none; color: #333333; padding: 10px 0;;}

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	