/* body{background: url(../../images/1420grid_cesco_customer.png) no-repeat center top; opacity: 0.6;} */

#wrap{width: 1420px; /* height: 3000px; */ margin: 0 auto; background: #dddddd;}

section{width: 1420px; height: 1982px; margin: 0 auto;background: #ffffff;}
#sub_nav_wrap{float: left; width: 1420px; height: 152px; background: #eeeeee;}
.sub_nav_banner{float: left; width: 225px; height: 118px; background: #dddddd;}
.sub_nav{float: right; width: 1044px; height: 118px; background: #dddddd;}
.sub_selectform{float: left; width: 1420px; height: 35px; background: #bbbbbb;}

#contents_wrap{float: left; width: 1420px; height: 3527px; background: #eeeeee; }
.advice_banner{float: left; width: 1420px; height: 362px; margin-bottom: 47px; background: #dddddd;}
.advice_request_wrap{float: left; width: 1380px; height: 880px; margin-left: 20px; /* background: #cccccc; */}
	.advice_request_header{float: left; width: 1380px; height: 87px; /* background: #efffbf; */ border-bottom: 3px solid #666666;}
	.advice_request_title_1_1 span{float: left; font-size: 20px; font-weight: bold; color: #888888; margin-bottom: 25px; margin-left: 5px;}
	.advice_request_title_1_2 span{float: left; clear: left; font-size: 18px; font-weight: bold; color: #888888; margin-left: 5px;}
	.advice_request_title_1_3 span{float: right; font-size: 15px; font-weight: bold; color: #d93600;}
	
	.request_form_line{float: left; width: 1380px; height: 46px; border-bottom: 1px solid #dddddd; /* background: #73dcff; */}	
	.request_form_line .request_form_left{float: left; width: 190px; height: 46px; line-height: 46px;/*  background: #ffff73; */ font-size: 15px; font-weight: bold; padding-left: 20px; color: #888888;}	
	.request_form_line .request_form_right{float: left; width: 1150px; height: 46px; line-height: 46px;  /* background: #ff99e6; */ padding-left: 20px; color: #888888;}
	.request_form_line .number_request_form_right{float: left; width: 1150px; height: 46px; line-height: 46px; padding-left: 20px; /* background: #ff99e6; */ color: #888888;}

	.request_form_right input{padding: 3px;}
	.number_request_form_right select{padding: 3px; width: 80px; color: #999999;}
	#phone_number{padding: 3px; width: 80px;}
	#user_address{padding: 3px; width: 250px; margin-right: 10px; color: #999999;}

	
.request_form_line_1{float: left; width: 1380px; height: 328px; border-bottom: 1px solid #dddddd; /* background: #73dcff; */ color: #888888;}
.request_form_left_1{float: left; width: 200px; height: 328px; line-height: 328px;/*  background: #ffff73; */ font-size: 15px; font-weight: bold; color: #888888; padding-left: 20px;}
.request_form_left_2{float: left; width: 200px; height: 46px; line-height: 46px; /* background: #00d96c; */ border-bottom: 1px solid #dddddd; padding-left: 20px;}
.request_form_right_1{float: left; width: 918px; height: 46px; line-height: 46px; /* background: #ff99e6; */ border-bottom: 1px solid #dddddd; padding-left: 20px;}

.request_form_right select{padding: 3px; width: 80px; color: #999999;}}
label{margin-left: 15px;}
input{margin-left: 15px;}
select{margin-left: 15px;}

.notice{float: left; width: 1420px; height: 260px;}
.notice_content{width: 1300px; height: 120px; margin: 0 auto; border: 1px solid #dddddd;  padding: 20px;}
.notice_content li span{font-size: 16px; font-weight: bold;}
.notice_y_n{margin-left: 30px; margin-top: 20px; margin-bottom: 20px;}

.request_btn_wrap{float: left; width: 1420px; height: 70px;}
.request_buttons_1{float: left; margin-left: 560px;}
.request_buttons_2{float: left; margin-left: 10px;}

.advice_info{float: left; width: 1420px; height: 250px; /* background: #bbbbbb; */ margin-top: 30px;}
.advice_info img{margin-left: 40px;}




















